@font-face {
	font-family: azbuka;
	src: url(/fonts/Azbuka01.ttf);
}

body {
	color: #324851;
	font-family: azbuka, Georgia, serif;
	font-size: 100%;
}

@media (min-width:540px) {
	body {
		color: #324851;
		font-family: azbuka, Georgia, serif;
		font-size: 167%;
	}
}
